.user-avatar {
  background: #222222;

  /* make a square container */
  width: 108px;
  height: 108px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;

  border: solid 8px $alert-success-bg;
}

.created-time {
  color: $alert-info-text;
  font-size: 0.7em;
  font-weight: bold;
}

.alert {
  position: absolute;
  top: 170px;
  right: 5em;
  z-index: 1100;
}

.textwrap {
  word-wrap: break-word;
}