// Import the fonts
@font-face{
  font-family: 'ClashFont';
  src: url('/../fonts/supercell-magic-webfont-webfont.eot');
  src: url('/../fonts/supercell-magic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/../fonts/supercell-magic-webfont-webfont.woff') format('woff'),
  url('/../fonts/supercell-magic-webfont-webfont.ttf') format('truetype'),
  url('/../fonts/supercell-magic-webfont-webfont.svg#webfont') format('svg');
}