/**
  General layout variables
*/

$padding: 2em;

/**
  Body
*/

body {
  box-sizing: border-box;
}

.accent {
  background: $btn-success-bg;
  color: #fff;
  padding: $padding;
}

.container-first {
}

.splash {
  margin-top: 8em;
}

@media (max-width: $screen-sm) {

  .splash {
    margin-top: 5em;
  }
}