.navbar-header {
  height: 80px;
  z-index: 10;
}

.signin-toggle {
  margin-top: 30px;
}

.main-navigation {
  background: $accent-bg;
//  border-bottom: dashed thin $gold;
  padding: $padding / 3;
  z-index: 9;
}

#main-nav-links {
  border: none;
}

.logout-banner {
  background: black;
  height: 50px;

  img {
    margin-top: -30px;
  }
}

.signin-toggle {
  .user-avatar {
    height: 60px;
    margin-top: -20px;
  }
}

@media (max-width: $screen-sm) {

  .container-nav {
    height: 55px;
  }

  .navbar-header {
    height: 40px;
  }

  .settings-nav {
    margin-top: -30px;
  }

  .logo-nav {
    width: 70%;
  }

  .navbar-brand {
  }
  .signin-toggle {
    //margin-top: -40px;
  }

  .main-navigation {
    padding: 0;
  }


}