.navbar-header {
  height: 80px;
  z-index: 10;
}

.signin-toggle {
  margin-top: 30px;
}

.main-navigation {
  background: $accent-bg;
  border-bottom: dashed thin $gold;
  padding: $padding / 3;
  z-index: 9;
}

#main-nav-links {
  border: none;
  margin-top: 2em;
}

.logout-banner {
  background: black;
  height: 50px;

  img {
    margin-top: -30px;
  }
}

.signin-toggle {

  position: absolute;
  top: 0px;
  right: 0px;

  .user-avatar {
    height: 60px;
    margin-top: -20px;
  }
}

#btn-signin {
  position: relative;
  z-index: 100;
}

@media (max-width: $screen-md) {

  .signin-toggle {
    position: absolute;
    right: -80px;
    margin-top: 140px;
  }

  #main-nav-links {
    margin-top: 100px;
  }
}

@media (max-width: $screen-sm) {

  .container-nav {
    height: 55px;
  }

  .navbar-header {
    height: 40px;
  }

  .settings-nav {
    margin-top: -30px;
  }

  #btn-signin {
    //margin-top: -22px;
  }

  .logo-nav {
    width: 100%;
  }

  .navbar-brand {
    margin-top: 50px;
  }
  .signin-toggle {
    position: relative;
    right: 0;
    margin-top: 70px;
    background: none;
  }

  .main-navigation {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background: inherit;

    .navbar-toggle {
      background: grey;
      margin-right: -10px;
    }
    
    #main-nav-links {
      margin-top: 20px;
    }
  }


}